## Задача 1

Назовём маской числа последовательность цифр, в которой также могут
встречаться следующие символы:

- символ «?» означает ровно одну произвольную цифру;
- символ «&» означает любую последовательность цифр произвольной
длины; в том числе «*» может задавать и пустую последовательность.

Например, маске 123&4?5 соответствуют числа 123405 и 12300405.
Среди натуральных чисел, не превышающих $10^{10}$, найдите все числа,
соответствующие маске 1?2157&4, делящиеся на 2024 без остатка.
В ответе запишите в первом столбце таблицы все найденные числа
в порядке возрастания, а во втором столбце – соответствующие им
результаты деления этих чисел на 2024.
Количество строк в таблице для ответа избыточно.

In [15]:
import re

m=1021574

start=(m//2024+1)*2024
end=10**10

regexp=r"^1.2157.*4$"

for k in range(start, end+1,2024):
  s=str(k)
  if re.match(regexp,s):
      print(k,k//2024)

142157664 70236
1021575544 504731
1121571264 554136
1221577104 603546
1321572824 652951
1421578664 702361
1521574384 751766
1621570104 801171
1721575944 850581
1821571664 899986
1921577504 949396

## (№ 4117)

(А. Кабанов) Обозначим через M разность максимального и минимального натуральных делителей целого числа, не считая единицы и самого числа. Если таких делителей у числа нет, то считаем значение M равным нулю. Напишите программу, которая перебирает целые числа, большие 350000, в порядке возрастания и ищет среди них такие, для которых значение M при делении на 23 даёт в остатке 9. Запишите первые 6 найденных чисел в порядке возрастания, справа от каждого числа запишите соответствующее значение M.

In [19]:
def check(n):
  k=2
  d=0
  while (k*k<n and d==0):
    if n%k==0:
      d=k
    else:
      k=k+1
  if d>0:
    return n//d-d
  else:
    return 0

count = 0
n=350000
while (count<6):
  m=check(n)
  if m%23==9:
    print(n,m)
    count=count+1
  n=n+1

350015 69998
350017 8496
350036 175016
350073 116688
350082 175039
350128 175062

## (№ 2562)

(Демовариант 2021 г.). Напишите программу, которая ищет среди целых чисел, принадлежащих числовому отрезку [174457; 174505], числа, имеющие ровно два различных натуральных делителя, не считая единицы и самого числа. Для каждого найденного числа запишите эти два делителя в таблицу на экране с новой строки в порядке возрастания произведения этих двух делителей. Делители в строке таблицы также должны следовать в порядке возрастания.

In [34]:
def check(n,md):
  k=2
  d=0
  res=[]
  while (k*k<=n and d<md+1):
    if n%k==0:
      if n//k!=k:
        d=d+2
        res=res+[k,n//k]
      else:
        d=d+1
        res=res+[k]
    k=k+1
  if d==md:
    return True,res
  else:
    return False,[]

for k in range(174457, 174506):
  t,res=check(k,2)
  if t:
    print(res)

[3, 58153]
[7, 24923]
[59, 2957]
[13, 13421]
[149, 1171]
[5, 34897]
[211, 827]
[2, 87251]

## (№ 3437)

(А. Рулин) Рассматривается множество целых чисел, принадлежащих числовому отрезку [862346; 1056242]. Найдите числа, нетривиальные делители которых образуют арифметическую прогрессию с разностью d = 100. В ответе для каждого такого числа (в порядке возрастания) запишите сначала само число, а потом – его максимальный нетривиальный делитель.

In [59]:
def check(n):
  k=2
  res=[]
  while (k*k<=n):
    if n%k==0:
      if n//k!=k:
        res=res+[k,n//k]
      else:
        res=res+[k]
    k=k+1
  res=sorted(res)
  r=sum([int(res[i+1]-res[i]==100) for i in range(len(res)-1)])
  if r+1==len(res) and len(res)>1:
    return True,res[-1]
  else:
    return False,[]

for k in range(862346,1056242):
  r,res=check(k)
  if r:
    print(k,res)

867989 983
936461 1019

KeyboardInterrupt: ignored

## (№ 3981)

 Найдите все натуральные числа, N, принадлежащие отрезку [100 000 000; 300 000 000], которые можно представить в виде N = $2^m7^n$, где m – чётное число, n – нечётное число. В ответе запишите все найденные числа в порядке возрастания, а справа от каждого числа – сумму m+n.

In [105]:
#m=26
#n=10
mx=26
nx=10
res=[]
for m in range(2,mx+1,2):
  for n in range(1,nx+1,2):
    z=2**m*7**n
    if 100000000<z< 300000000:
      res=res+[[z,m+n]]

print(sorted(res))

[[117440512, 25], [161414428, 11], [210827008, 15], [275365888, 19]]